$bg-button: #f0f0f0;
$border-button: 1px solid #888;

.button {
    font-size: 1.4em;
    background-color: $bg-button;
    border: none;
    border-right: $border-button;
    border-bottom: $border-button;
    cursor: pointer;
}

.button:active {
    background-color: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #fa8231;
    color: #fff; 
}

.button.operation:active {
    background-color: #fa8231cc;
} 