body {
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(183, 152, 145), rgb(148, 113, 107)) repeat scroll 0% 0%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
}